<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="image/spin.png" type="image/x-icon">
    <title>TechTreasure</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <div class="title">
        <input id="bom" class="reset" type="image" src="image/bom.gif">
        <img class="title_logo" src="image/tech_logo.png">
    </div>
    <div class="spin_cent">
        <input id="spin" class="rotate_a" type="image" src="image/spin.png">
        <p>※音が出るので注意してください。</p>
    </div>

    <!-- hidden_image -->
    <input id="hidden_logo" type="image" src="image/crown.png" style="display: none">
    <img id="hidden_bom" src="image/reset_img.png" style="display: none" />

    <section id="container">
        <div class="logo-container" onselectstart="return false;" onmousedown="return false;">
            <% for(let logo of logos) { %>
                <% if (logo.flag) { %>
                    <div id="logo-<%= logo.id %>" class="logo-card" style="opacity: 1 ">
                        <% } else { %>
                            <div id="logo-<%= logo.id %>" class="logo-card" style="opacity: 0 ">
                                <% } %>
                                    <img src="<%= logo.src_svg %>" alt="<%= logo.name %>">
                                    <p>
                                        <%= logo.logo_name %>
                                            <br>
                                            <img class="crown" src="image/crown.png" alt="獲得者:">
                                            <%= logo.owner_name %>
                                    </p>
                            </div>
                            <% } %>
                    </div>
    </section>

    <!-- audio -->
    <audio id="audio_bom" src="audio/bom.mp3"></audio>
    <audio id="audio_spin" src="audio/spin.mp3"></audio>
    <audio id="audio_get" src="audio/get.mp3"></audio>
    <audio id="audio_fail" src="audio/fail.mp3"></audio>

    <script src="/js/main.js"></script>
</body>
<footer class="footer">
    <p>©2024 TechTreasure</p>
</footer>

</html>